$colors: (
    white: #FFF,
    gray: #F5F8FA,
    gray2: #F1F5F8,
    gray3: #E9EFF1,
    gray4: #E2E6E9,
    gray5: #B9C2CF,
    gray6: #A1A5B7,
    gray7: #A0A8B5,
    gray8: #888,
    primary: #0080FF,
    dark-blue: #0066FF,
    red: #F00,
    navy: #4A5476,
    base: #333,
    dark: #071544,
    black: #000
);

@mixin flex_row($dir: row, $just: initial, $align: normal, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}
@mixin flex_col($dir: column, $just: initial, $align: normal, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}
@mixin grid_box($col: 1fr, $just: initial, $align: normal, $gap: 0) {
    display: grid;
    grid-template-columns: $col;
    justify-items: $just;
    align-items: $align;
    gap: $gap;
}
@mixin pos_center($zidx: 0) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zidx;
}
@mixin pos_centerTop($left: 0, $zidx: 0) {
    position: absolute;
    left: $left;
    top: 50%;
    transform: translateY(-50%);
    z-index: $zidx;
}
@mixin font_inherit($family: inherit, $size: inherit, $weight: inherit, $line: inherit, $letter: inherit, $color: inherit) {
    display: inline-block;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: $letter;
    color: $color;
}