html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* wrap */
.wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: initial;
  align-items: normal;
  gap: 0;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "header header" "aside main";
  height: 100vh;
  overflow: hidden;
}

/* header */
header {
  grid-area: header;
}
header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  border-bottom: 1px solid var(--color-gray4);
  background-color: var(--color-white);
}
header > nav .logo {
  display: block;
  width: 214px;
}
header > nav .user {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 0 10px;
}
header > nav .user button {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

/* aside */
aside {
  grid-area: aside;
  min-height: 0;
  position: relative;
  padding-left: 70px;
  border-right: 1px solid var(--color-gray4);
  transition: padding var(--transition-base);
}

/* aside - menu */
.menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 70px;
  height: 100%;
  padding: 15px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--color-gray2);
  transition: all var(--transition-base);
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu .gnb {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: normal;
  gap: 16px 0;
}
.menu .gnb > li:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gray4);
}
.menu .gnb > li:first-of-type .item {
  width: 40px;
}
.menu .gnb .item {
  display: block;
  position: relative;
  border-radius: 5px;
  transition: background-color var(--transition-base);
}
.menu .gnb .item > i {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}
.menu .gnb .item > span {
  display: inline-block;
  position: absolute;
  left: 46px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 1.0625rem;
  white-space: nowrap;
  color: var(--color-navy);
  opacity: 1;
  transition: opacity var(--transition-base);
}
.menu .gnb .item:hover, .menu .gnb .item.active {
  background-color: var(--color-primary);
}
.menu .gnb .item:hover > span, .menu .gnb .item.active > span {
  color: var(--color-white);
}

/* aside - menu */
.menuSub {
  width: 240px;
  max-height: 100%;
  padding: 15px 30px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menuSub::-webkit-scrollbar {
  display: none;
}
.menuSub > h2 {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gray4);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.36px;
}
.menuSub .lnb {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: normal;
  gap: 12px 0;
  padding-top: 16px;
}
.menuSub .lnb .item {
  display: block;
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: var(--color-gray8);
}
.menuSub .lnb .item:hover {
  color: var(--color-primary);
}
.menuSub .lnb .item.active {
  font-weight: 700;
  color: var(--color-primary);
  background-color: var(--color-gray2);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: normal;
  gap: 20px;
  grid-area: main;
  min-width: 0;
  min-height: 0;
  padding: 20px;
  background-color: var(--color-gray4);
  overflow: auto;
}

/* box */
.box_content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: normal;
  gap: 0;
  flex: 1;
  min-width: 1100px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.box_content.fit {
  min-width: auto;
}

.box_item {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: normal;
  gap: 20px 0;
  flex: 1;
  padding: 20px 40px 40px;
}

/*# sourceMappingURL=layout.css.map */
